body {
    background-image: url("../images/question_marks_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body * {
    background-color: white !important;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(173, 216, 230, 0.3);
}

.styled-table th, .styled-table td {
    border: 2px solid black;
    padding: 10px;
}

.styled-table th {
    background-color: #f4f4f4;
}
.welcome-container {
    text-align: center;
    font-size: 2.5rem; 
    font-weight: bold;
    margin-top: 50px;
    color: #003366; 
    flex:1;
}
.nav-bar {
    background-color: #003366;
    padding: 10px;
    text-align: center;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.nav-bar li {
    display: inline;
}

.nav-bar a {
    text-decoration: none;
    color: #003366;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-bar a:hover {
    background-color: #0055A4; 
}
.home-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
}


